<div class='nested-fields'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>
		 <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name,class: "input_form" %>
  </div>
  <div>
    <%= form.label :address, style: "display: block"  %>
    <%= form.text_field :address,id: 'destination_address',data: { controller: "address", action: "map-loaded@window->address#initGoogle"} ,class: "input_form"%>
  </div>
  <div>
    <%= form.label :latitude %>
    <%= form.text_field :latitude,id:"destination_latitude" ,class: "input_form "%>

  </div>
   <div>
    <%= form.label :longitude, style: "display: none" %>
    <%= form.text_field :longitude,id: "destination_longitude" ,class: "input_form"%>

  </div>    <small>
      <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
    </small>
  </div>
</div>