<p style="color: green"><%= notice %></p>
<h2><strong> <%= @trip.name %></strong></h2>
<h3>
  Your Destinations</h3>

<%  @trip.destinations.each do |destination| %>
<div class="card text-bg-info mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <%=  destination.address%></h5>
     <%=link_to "Show Destination",trip_destination_path(destination, :trip_id => @trip.id)%>
  </div>
</div>
  <%end%>

 
<br />
 
<%= link_to "Add destination" ,  new_trip_destination_path(@trip)%>
<div>
  <%
=begin%>
 <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
  <%= link_to "Back to trips", trips_path %> 
<%
=end%>

  <%
=begin%>
 <%= button_to "Destroy this trip", @trip, method: :delete %> 
<%
=end%>
</div>
