<p style="color: green"><%= notice %></p>

<%
=begin%>
 <%= render @trip %> 
<%
=end%>
<p>
    <h2><strong> <%= @trip.name %></strong></h2>
    
  </p>
   <h3>
  Your Destinations</h3>
  <div> 
      <%  @trip.destinations.each do |destination| %>
      <ul>
          <li>
           <h4> <%=  destination.name%></h4>
          </li>
      </ul> 
      <%end%>
  </div>
<br />
 
<%= link_to "Add destination" ,  new_trip_destination_path(@trip)%>
<div>
  <%
=begin%>
 <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
  <%= link_to "Back to trips", trips_path %> 
<%
=end%>

  <%
=begin%>
 <%= button_to "Destroy this trip", @trip, method: :delete %> 
<%
=end%>
</div>
