<%= form_for Destination.new(), :url => trip_destination_index_path , method: :post do | form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :address, style: "display: block"  %>
    <%= form.text_field :address,data: { controller: "address", action: "map-loaded@window->address#initGoogle"} %>
  </div>
  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>

  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
