<nav class="navbar navbar-expand-lg navbar-light   py-md-4" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <%= link_to "Trip", root_path ,class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <%if user_signed_in? %>
            <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path,data: {"turbo-method": :delete}, class: "nav-link active" %>
            </li>
             <li class="nav-item">
            <%= link_to "Add Trip", new_trip_path, class: "nav-link active" %>
            </li>
             <li class="nav-item">
            <%= link_to "All trips", trips_path , class: "nav-link active"%>
            </li>
        <%else%>
            <li class="nav-item">
            <%=link_to "Sing UP " ,new_user_registration_path,class: "nav-link"%>
            </li>
            <li class="nav-item">
            <%=link_to "Log In " , new_user_session_path,class: "nav-link"%>
            </li>
        <%end%>
       
      </ul>
    </div>
  </div>
</nav>