<h2>Hey <%=current_user.name%></h2>
<h3>Your Trip "<%=@trip.name%>" has <%=@trip.destinations.count%> destinations</h3>
<%total_miles= 0%>
<%@destination.order(position: :asc).each_with_index do |dest,i|%>
    <%if @destination[i+1] == nil%>
        <%city=current_user.address%>
    <%else%>
        <%pos = dest.position + 1%>
        <%destnext = Destination.find_by(trip_id:  @trip.id,position: pos)
%>
    <%end%>
    
    <%dest_cordinates= Geocoder.coordinates(city) || [destnext.latitude,destnext.longitude]%>
    <%distance= dest.distance_to(dest_cordinates).to_i%>
    <%total_miles += distance%>
    <br/>
        <p>Distance between " <%= dest.address  %> " and " <%=city || destnext.address%> " is <strong><%=distance%> miles</strong></p>
        <%=link_to "see Routes " ,map_path(:dest => dest.address,:destnext =>city ||destnext.address)%>
        <br />
        
    <%end%>
    <h3>Your Trip "<%=@trip.name%>" is <%=total_miles%> miles long</h3>