<%city=current_user.address%>
<%city_cordinates = Geocoder.coordinates(city)%>
<%distance=@destination.distance_to(city_cordinates).to_i%>    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=@destination.address%></h5>
        <p class="card-text">Distance between your city and this place is <%=distance%> miles</p>
        <%if @destination.id > 1%>
          <% previous_dest= prev_destination(@destination.trip_id,@destination.id)%>
          <%if previous_dest != nil%>
            <%prev_dest_cordinates =  [previous_dest.latitude,previous_dest.longitude]%>
            <p class="card-text">Distance between your previous destination <%=previous_dest.address%> and this place is <%=@destination.distance_to(prev_dest_cordinates).to_i %> miles</p>
          <%end%>
        <%end%>
        <%if @destination.id < @trip.destinations.all.count%>
            <% next_dest= next_destination(@destination.trip_id,@destination.id)%>
            <%if next_dest != nil%>
              <%next_dest_cordinates = [next_dest.latitude,next_dest.longitude]%>
              <p class="card-text">Distance between your next destination <%=next_dest.address%> and this place is <%=@destination.distance_to(next_dest_cordinates).to_i %> miles</p>
            <%end%>
        <%end%>
      
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=14&size=500x450&markers=size:small%7Ccolor:red%7C#{@destination.latitude},#{@destination.longitude}&key=#{Rails.application.credentials.config[:maps]}", alt: "Map" %>

        <iframe
          align="right"
          width="500"
          height="450"
          style="border:2"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/directions?key=<%=Rails.application.credentials.config[:maps]%>
            &origin=<%=city%>
          &destination=<%=@destination.address%>">
        </iframe>
      </div>
    </div>
<style>
  #map {
      width: 600px;
      height: 400px;
  }
</style>